<a href="https://colab.research.google.com/github/wel51x/DS-Unit-2-Sprint-4-Model-Validation/blob/master/LS_DS_241_Begin_modeling_process_incl_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science — Model Validation_ 

# Begin the modeling process

Objectives
- Train/Validate/Test split
- Cross-Validation
- Begin with baselines

## Get the Bank Marketing dataset

You have several ways you can get the dataset:

#### Kaggle
- Download from the [Kaggle competition page](https://www.kaggle.com/c/ds2-model-validation/data)
- Use the Kaggle API

#### GitHub
- Clone the [repo](https://github.com/LambdaSchool/DS-Unit-2-Sprint-4-Model-Validation/tree/master/module-1-begin-modeling-process/bank-marketing)
- Download from the repo:

In [0]:
!wget https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Sprint-4-Model-Validation/master/module-1-begin-modeling-process/bank-marketing/train_features.csv
!wget https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Sprint-4-Model-Validation/master/module-1-begin-modeling-process/bank-marketing/train_labels.csv
!wget https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Sprint-4-Model-Validation/master/module-1-begin-modeling-process/bank-marketing/test_features.csv
!wget https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Sprint-4-Model-Validation/master/module-1-begin-modeling-process/bank-marketing/sample_submission.csv

--2019-03-04 18:12:44--  https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Sprint-4-Model-Validation/master/module-1-begin-modeling-process/bank-marketing/train_features.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3833210 (3.7M) [text/plain]
Saving to: ‘train_features.csv’

train_features.csv  100%[===================>]   3.66M  --.-KB/s    in 0.06s

2019-03-04 18:12:44 (59.6 MB/s) - ‘train_features.csv’ saved [3833210/3833210]

--2019-03-04 18:12:45--  https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Sprint-4-Model-Validation/master/module-1-begin-modeling-process/bank-marketing/train_labels.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 247133 (241K) [text/plain]
Saving to: ‘train_labels.csv’

train_labels.csv    100%[===================>] 241.34K  --.-KB/s    in 0.03s

2019-03-04 18:12:45 (8.11 MB/s) - ‘train_labels.csv’ saved [247133/247133]

--2019-03-04 18:12:46--  https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Sprint-4-Model-Validation/master/module-1-begin-modeling-process/bank-marketing/test_features.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1277012 (1.2M) [text/plain]
Saving to: ‘test_features.csv’

test_features.csv   100%[===================>]   1.22M  --.-KB/s    in 0.05s

2019-03-04 18:12:46 (26.8 MB/s) - ‘test_features.csv’ saved [1277012/1277012]

--2019-03-04 18:12:47--  https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Sprint-4-Model-Validation/master/module-1-begin-modeling-process/bank-marketing/sample_submission.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 102975 (101K) [text/plain]
Saving to: ‘sample_submission.csv’

sample_submission.c 100%[===================>] 100.56K  --.-KB/s    in 0.02s

2019-03-04 18:12:47 (4.69 MB/s) - ‘sample_submission.csv’ saved [102975/102975]

In [0]:
!ls -lsa

total 5628
   4 drwxr-xr-x 2 root root    4096 Mar  4 19:11 .
   4 drwxr-xr-x 1 root root    4096 Mar  4 18:14 ..
 108 -rw-r--r-- 1 root root  102975 Mar  4 18:12 sample_submission.csv
 264 -rw-r--r-- 1 root root  267909 Mar  4 19:11 submission-001.csv
1252 -rw-r--r-- 1 root root 1277012 Mar  4 18:12 test_features.csv
3748 -rw-r--r-- 1 root root 3833210 Mar  4 18:12 train_features.csv
 248 -rw-r--r-- 1 root root  247133 Mar  4 18:12 train_labels.csv

In [0]:
!rm -rf bank-marketing
!mkdir bank-marketing
!mv *csv bank-marketing

In [0]:
# !wget https://github.com/LambdaSchool/DS-Unit-2-Sprint-4-Model-Validation/blob/master/module-1-begin-modeling-process/bank-marketing/train_features.csv
# !wget https://github.com/LambdaSchool/DS-Unit-2-Sprint-4-Model-Validation/blob/master/module-1-begin-modeling-process/bank-marketing/train_labels.csv
# !wget https://github.com/LambdaSchool/DS-Unit-2-Sprint-4-Model-Validation/blob/master/module-1-begin-modeling-process/bank-marketing/test_features.csv
# !wget https://github.com/LambdaSchool/DS-Unit-2-Sprint-4-Model-Validation/blob/master/module-1-begin-modeling-process/bank-marketing/sample_submission.csv

In [0]:
%cd bank-marketing

/content/bank-marketing

In [0]:
import pandas as pd

train_features = pd.read_csv('train_features.csv')
train_labels = pd.read_csv('train_labels.csv')
test_features = pd.read_csv('test_features.csv')
sample_submission = pd.read_csv('sample_submission.csv')

train_features.shape, train_labels.shape, test_features.shape, sample_submission.shape

((30891, 20), (30891, 2), (10297, 20), (10297, 2))

In [0]:
train_features.sample(8)

,id,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
19482,11094,31,admin.,single,high.school,no,yes,yes,cellular,aug,thu,1,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1
7448,35146,55,unknown,married,basic.4y,no,yes,no,cellular,jul,thu,1,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1
26354,47501,40,blue-collar,married,basic.9y,unknown,no,no,telephone,jun,tue,4,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228.1
13748,26550,42,entrepreneur,married,basic.4y,unknown,yes,no,cellular,jul,thu,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1
11297,24266,37,blue-collar,divorced,professional.course,no,no,no,cellular,jul,tue,2,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
4266,48237,23,admin.,single,high.school,no,no,no,cellular,may,mon,5,999,0,nonexistent,-1.8,92.893,-46.2,1.244,5099.1
12979,15422,37,blue-collar,married,professional.course,no,no,no,telephone,may,thu,1,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0
7538,19895,39,technician,married,high.school,no,no,no,cellular,jul,wed,3,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1

In [0]:
train_labels['y'].value_counts()
train_labels['y'].value_counts(normalize=True)

0    0.887346
1    0.112654
Name: y, dtype: float64

In [0]:
y_train = train_labels['y']
X_train = train_features.drop(columns='id')
X_test  = test_features.drop(columns='id')

## Train/Validation/Test split

How can we get from a two-way split, to a three-way split?

We can use the [**`sklearn.model_selection.train_test_split`**](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html) function to split the training data into training and validation data.

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train)
X_train.shape, X_val.shape, y_train.shape, y_val.shape

((23168, 19), (7723, 19), (23168,), (7723,))

Fit on the training set.

Predict and score with the validation set.

## Majority class baseline

Determine the majority class:

In [0]:
y_train.value_counts(normalize=True)

0    0.887604
1    0.112396
Name: y, dtype: float64

Guess the majority class for every prediction:

In [0]:
[0] * 10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [0]:
majority_class = 0
y_pred = [majority_class] * len(y_val)

#### [`sklearn.metrics.accuracy_score`](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html)

Baseline accuracy by guessing the majority class for every prediction:

In [0]:
from sklearn.metrics import accuracy_score
accuracy_score(y_val, y_pred)

0.886572575424058

#### [`sklearn.metrics.roc_auc_score`](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html)

Baseline "ROC AUC" score by guessing the majority class for every prediction:

In [0]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_val, y_pred)

0.5

## Fast first models

### Ignore rows/columns with nulls

This dataset doesn't have any nulls:

In [0]:
X_train.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
dtype: int64

### Ignore nonnumeric features

Here are the numeric features:

In [0]:
import numpy as np
X_train.describe(include=np.number)

,age,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,23168.000000,23168.000000,23168.000000,23168.000000,23168.000000,23168.000000,23168.000000,23168.000000,23168.000000
mean,39.978677,2.578211,961.150423,0.179126,0.075060,93.574898,-40.494643,3.611196,5166.559056
std,10.361243,2.803197,190.151493,0.507067,1.574481,0.579591,4.640924,1.739283,72.541701
min,17.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

Here are the nonnumeric features:

In [0]:
X_train.describe(exclude=np.number)

,job,marital,education,default,housing,loan,contact,month,day_of_week,poutcome
count,23168,23168,23168,23168,23168,23168,23168,23168,23168,23168
unique,12,4,8,3,3,3,2,10,5,3
top,admin.,married,university.degree,no,yes,no,cellular,may,thu,nonexistent
freq,5838,13980,6832,18309,12137,19051,14674,7806,4824,19916

Just select the nonnumeric features:

In [0]:
X_train_numeric = X_train.select_dtypes(np.number)
X_val_numeric = X_val.select_dtypes(np.number)

In [0]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', max_iter=1000)
model.fit(X_train_numeric, y_train)

y_pred = model.predict(X_val_numeric)
roc_auc_score(y_val, y_pred)

0.5884225534897461

### With Scaler

In [0]:
np.random.seed(31415)

In [0]:
from sklearn.exceptions import DataConversionWarning
from sklearn.preprocessing import StandardScaler
import warnings
warnings.filterwarnings(action='ignore', category=DataConversionWarning)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_numeric)
X_val_scaled = scaler.transform(X_val_numeric)

model = LogisticRegression(solver='lbfgs', max_iter=1000)
model.fit(X_train_numeric, y_train)

y_pred = model.predict(X_val_scaled)
roc_auc_score(y_val, y_pred)

0.7044356825940501

### Same, as a pipeline

In [0]:
np.random.seed(31415)

In [0]:
from sklearn.pipeline import make_pipeline

pipeline = make_pipeline(
    StandardScaler(), 
    LogisticRegression(solver='lbfgs')
)

pipeline.fit(X_train_numeric, y_train)

y_pred = pipeline.predict(X_val_numeric)
roc_auc_score(y_val, y_pred)

0.5865775965609709

### Encode "low cardinality" categoricals

One-hot encode the "low cardinality" categoricals

In [0]:
X_train.select_dtypes(exclude=np.number).nunique()

job            12
marital         4
education       8
default         3
housing         3
loan            3
contact         2
month          10
day_of_week     5
poutcome        3
dtype: int64

Install the Category Encoder library

If you're running on Google Colab:

```
!pip install category_encoders
```

If you're running locally with Anaconda:

```
!conda install -c conda-forge category_encoders
```

In [0]:
!pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/f7/d3/82a4b85a87ece114f6d0139d643580c726efa45fa4db3b81aed38c0156c5/category_encoders-1.3.0-py2.py3-none-any.whl (61kB)
    100% |████████████████████████████████| 61kB 2.8MB/s
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.8.0)
Requirement already satisfied: numpy>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.14.6)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.1.0)
Requirement already satisfied: scikit-learn>=0.17.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.20.2)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: pandas>=0.20.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.22.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders) (1.11.0)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20.1->category_encoders) (2018.9)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.20.1->category_encoders) (2.5.3)
Installing collected packages: category-encoders
Successfully installed category-encoders-1.3.0

In [0]:
import category_encoders as ce

pipeline = make_pipeline(
    ce.OneHotEncoder(use_cat_names=True), 
    StandardScaler(), 
    LogisticRegression(solver='lbfgs', max_iter=1000)
)

pipeline.fit(X_train, y_train)

y_pred = pipeline.predict(X_val)
roc_auc_score(y_val, y_pred)

0.602724720955683

In [0]:
pipeline.predict_proba(X_test)

array([[0.89500407, 0.10499593],
       [0.94529007, 0.05470993],
       [0.54530824, 0.45469176],
       ...,
       [0.93909451, 0.06090549],
       [0.98383004, 0.01616996],
       [0.95621862, 0.04378138]])

In [0]:
0.54530824 + 0.45469176

1.0

In [0]:
y_pred_proba = pipeline.predict_proba(X_test)[:, 1:]

In [0]:
y_pred_proba

array([[0.10499593],
       [0.05470993],
       [0.45469176],
       ...,
       [0.06090549],
       [0.01616996],
       [0.04378138]])

In [0]:
submission = sample_submission.copy()
submission['y'] = pipeline.predict_proba(X_test)[:, 1:]
submission.sample(8)

         id         y
2024  23322  0.059144
9732  33935  0.049976
627   37317  0.058637
9712  34988  0.032437
8415  13676  0.070159
6723  26917  0.029848
6220  43996  0.417734
3383  43202  0.042191

In [0]:
submission.to_csv("submission-001.csv", index=False)

### Assignment submission

In [0]:
!ls -ls

total 5620
 108 -rw-r--r-- 1 root root  102975 Mar  4 18:12 sample_submission.csv
 264 -rw-r--r-- 1 root root  267909 Mar  4 19:11 submission-001.csv
1252 -rw-r--r-- 1 root root 1277012 Mar  4 18:12 test_features.csv
3748 -rw-r--r-- 1 root root 3833210 Mar  4 18:12 train_features.csv
 248 -rw-r--r-- 1 root root  247133 Mar  4 18:12 train_labels.csv

In [0]:
from google.colab import files

In [0]:
files.download("submission-001.csv")